body {
    text-align: center;
}



.choices {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}


.choice {
    cursor: pointer;
}
