*, *::after, *::before {
    box-sizing: border-box;
}

body {
   
}
.header img {
    width: 150px;
}
.vocabulary {
    margin: auto;
}
.choices {
    width: 50%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.choice {
    cursor: pointer;
    font-size: 1.8em;
}
