*, *::after, *::before {
    box-sizing: border-box;
   
}

:root {
    --main: #FF7BAC;
}

header img {
    width: 150px;
    cursor: pointer;
}

.vocabulary-lessons {
    display: flex;
    text-align: center;
}
.lessons {   
    margin-left: 50px;
}
.lessons a {
    text-decoration: none;
    color: white;
}
section {
    text-align: center;
}
.vocab-section {
    text-align: center;
    position: relative;
}
.vocabulary img {
    margin: auto;
    width: 50%;
    padding: 10px;
    z-index: 2;
}

.status {
    display: block;
    font-size: 15em;
    position: absolute;
    top: 20%;
    left: 40%;
   
}

.check {
    color: greenyellow;
    opacity: .8;
}

.wrong {
    border: 2px solid red;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    30% { transform: translateY(-10px); }
    50% { transform: translateX(5px); }
    60% { transform: translateY(-10px); }
    75% { transform: translateX(-15px); }
    100% { transform: translateX(0); }
  }
  
  .shake-element {
    animation: shake 0.5s ease-in-out ;
  }


.choices {
    width: 50%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.choice {
    cursor: pointer;
    font-size: 1.8em;
    opacity: .5;
}

.choice:hover {
   opacity: 1;
   color: var(--main);
}

button {
    background-color: var(--main);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--main)
}
button:hover {
    transform: scale(1.1);
    transition: all ease-in cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.end {
    font-size: 3em;
}
